.title {
  border-bottom: 1px solid black;
  line-height: 1.75rem;
  max-width: fit-content;
}
.SimpleGrid {
  @media (max-width: 1024px) {
    margin-left: 3em;
  }
}
.Stack {
  @media (max-width: 480px) {
    padding-top: 0px !important;
  }
}
